name: Build
on:
  pull_request:
  push:
    branches:
      - master
      - devel
    tags:
      - v*

jobs:

  validation:
    name: "Gradle Wrapper Validation"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: gradle/actions/wrapper-validation@v5

  build:
    needs: validation
    runs-on: ubuntu-latest

    strategy:
      matrix:
        java-version: [ 21 ]

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'adopt'
          java-version: ${{ matrix.java-version }}

      - name: Print Java Version
        run: java --version

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          cache-read-only: ${{ github.ref != 'refs/heads/master' && github.ref != 'refs/heads/devel' }}

      - name: Lint Gradle File
        run: ./gradlew autoLintGradle --no-parallel

      - name: Build project
        run: ./gradlew build -x test

      - name: Unit Test
        run: ./gradlew test

      - name: Integration Test
        run: ./gradlew integrationTest

      - name: Build tag
        if: |
          startsWith(github.ref, 'refs/tags/v')
        run: ./gradlew --info --stacktrace -Prelease.useLastTag=true bootJar

      - name: Upload Artifacts
        uses: actions/upload-artifact@v6
        if: |
          startsWith(github.ref, 'refs/tags/')
        with:
          path: ./**/ngtor-app/build/libs/*-boot.jar
          if-no-files-found: error
